<h3>{{'vocab.user-cart' | translate}} {{currentUser.login}}</h3>
  <table class="table table-striped">
    <thead>
    <th scope="col">Id</th>
    <th scope="col">{{'vocab.photo' | translate}}</th>
    <th scope="col">{{'vocab.product-name' | translate}}</th>
    <th scope="col">{{'vocab.desc' | translate}}</th>
    <th scope="col">{{'vocab.price' | translate}}</th>
    <th scope="col">{{'vocab.seller' | translate}}</th>
    <th scope="col">{{'vocab.remove' | translate}}</th>
    </thead>
    <tbody>
    <tr *ngFor="let purchase of purchases">
      <td>{{purchase.id}}</td>
      <td><img [src]="purchase.url"></td>
      <td>{{purchase.name}}</td>
      <td>{{purchase.description}}</td>
      <td>{{purchase.price}}</td>
      <td>{{purchase.seller.login}}</td>
      <td><i (click)="removeFromCart(purchase.id)" class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><h2>{{'vocab.cart-value' | translate}}</h2></td>
      <td><h2>{{cart.cartValue}}</h2></td>
    </tr>
    </tbody>
  </table>
<button class="back" (click)="goBack()"><i class="fas fa-backward"></i></button>
<button routerLink="/products"><i class="fas fa-shopping-basket"></i></button>
<button routerLink="/order/add"><i class="fas fa-cash-register"></i></button>

