.product_details {
  margin: 2em auto 0 auto;
  height: 400px;
  width: 700px;
  text-align: center;
  background-color: #3ED682;
  padding: 1em;
  border: #474647 2px solid;
  border-bottom: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#button-container{
  margin: 0 auto 0 auto;
  height: 40px;
  width: 700px;
  background-color: #3ED682;
  padding: 0;
  border: #474647 2px solid;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.back {
  float: right;
  margin: 0;
  bottom: 0;
  border-top-right-radius: 0;
}

h2{
  font-family: 'Sniglet', cursive;
}
