<div class="product_details">
  <h2>{{'vocab.add-new-product' | translate}}</h2>
  <div>
    <label>{{'vocab.product-name' | translate}}:
      <input [(ngModel)]="product.name" placeholder="{{'vocab.product-name' | translate}}"/>
    </label>
  </div>
  <div>
    <label>{{'vocab.desc' | translate}}:
      <input [(ngModel)]="product.description" placeholder="{{'vocab.desc' | translate}}"/>
    </label>
  </div>
  <div>
    <label>{{'vocab.price' | translate}}:
      <input [(ngModel)]="product.price" placeholder="{{'vocab.price' | translate}}"/>
    </label>
  </div>
  <div>
    <label>{{'vocab.available' | translate}}?
      <input [(ngModel)]="product.available" placeholder="yes"/>
    </label>
  </div>
  <div>
    <label>{{'vocab.photo' | translate}} (url):
      <input [(ngModel)]="product.url" placeholder="url"/>
    </label>
  </div>
  <button (click)="saveNewProduct()">{{'vocab.save-changes' | translate}}</button>
</div>
<div id="button-container">
  <button class="back" (click)="goBack()">{{'vocab.back' | translate}}</button>
</div>


