.main {
  margin: 2em auto 2em auto;
  display: flex;
  height: 700px;
  width: 960px;
  text-align: center;
  background-color: blueviolet;
}

.small {
  height:350px;
  width: 480px;

}
.big{
  height:350px;
  width: 480px;
}


