<div class="user_details">
  <h2>Register</h2>
  <div>
    <label>name:
      <input [(ngModel)]="user.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>surname:
      <input [(ngModel)]="user.surname" placeholder="surname"/>
    </label>
  </div>
  <div>
    <label>login:
      <input [(ngModel)]="user.login" placeholder="login"/>
    </label>
  </div>
  <div>
    <label>password:
      <input type="password" [(ngModel)]="user.password" placeholder="password"/>
    </label>
  </div>
  <div>
    <label>role:
      <select [(ngModel)]="user.role" name="role">
        <option value="USER">User</option>
        <option value="ADMIN">Admin</option>
      </select>
    </label>
  </div>
  <button (click)="saveNewUser()">Sign up</button>
</div>
<div id="button-container">
  <button class="back" (click)="goBack()">Back</button>
</div>



