<div class="user_details">
  <h2>Register</h2>
  <div>
    <label>name:
      <input [(ngModel)]="user.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>surname:
      <input [(ngModel)]="user.surname" placeholder="surname"/>
    </label>
  </div>
  <div>
    <label>login:
      <input [(ngModel)]="user.login" placeholder="login"/>
    </label>
  </div>
  <div>
    <label>password:
      <input [(ngModel)]="user.password" placeholder="password"/>
    </label>
  </div>
  <div>
    <label>role:
      <input [(ngModel)]="user.role" placeholder="role"/>
    </label>
  </div>
  <button (click)="saveNewUser()">create user</button>
  <button (click)="goBack()">go back</button>
</div>


