<section routerLink="/products" class="banner">
  <div id="title_container">
    <div class ="icon">
      <img src="https://img.icons8.com/doodle/96/000000/cell-phone.png">
    </div>
    <div class="title">
        <h1>{{title}}</h1><br>
        <article>Best phones in web</article>
    </div>
    <div class ="icon">
      <img src="https://img.icons8.com/doodle/96/000000/cell-phone.png">
    </div>
  </div>
</section>
<h2 *ngIf="currentUser">
  <i class="fas fa-user-edit" routerLink="/users/edit/{{currentUser.id}}"></i>
  <i class="fas fa-store-alt" routerLink="/products-users/{{currentUser.id}}"></i>
  <i class="fas fa-cart-plus" routerLink="/cart/users/{{currentUser.id}}"></i>
</h2>
<button class="pl" (click)="translatePl()">{{'vocab.pl' | translate}}</button>
<button class="eng" (click)="translateEn()">{{'vocab.eng' | translate}}</button>
<nav>
  <ul class="menu">
    <li><a routerLink="/users">{{'vocab.users' | translate}}</a></li>
    <li><a routerLink="/products">{{'vocab.products' | translate}}</a></li>
    <li><a routerLink="/register">{{'vocab.sign-up' | translate}}</a></li>
    <li *ngIf="!currentUser"><a routerLink="/login">{{'vocab.log-in' | translate}}</a></li>
    <li *ngIf="currentUser" (click)="logout()">{{'vocab.logout' | translate}}</li>
  </ul>
</nav>
<main><!--The content below is only a placeholder and can be replaced.-->
  <router-outlet></router-outlet>
</main>
<footer class="page-footer">
  <div class="footer info">Bombastic fantastic</div>
  <div class="sources">
    <p><a href="https://icons8.com/icon/80740/cell-phone" target="_blank">Cell Phone icon by Icons8</a></p>
  </div>
</footer>

