<div class="main">
  <div class="login">
    <label>
      <p>Login:</p>
      <input [(ngModel)]="user.login" placeholder="login"/>
    </label>
  </div>
  <div>
    <label>
      <p>{{ 'vocab.password' | translate }}:</p>
      <input type="password" [(ngModel)]="user.password" placeholder="{{ 'vocab.password' | translate }}:"/>
    </label>
  </div>
  <button (click)="login()">{{ 'vocab.password' | translate }}</button>
  <button routerLink="/register">{{ 'vocab.sign-up' | translate }}</button>
</div>
<div id="button-container">
  <button class="back" (click)="goBack()">{{ 'vocab.back' | translate }}</button>
</div>

