<button routerLink="/register"><i class="fas fa-user-plus"></i></button>
<table class="table table-striped">
  <thead>
  <th scope="col">Id</th>
  <th scope="col">{{'vocab.name' | translate}}</th>
  <th scope="col">{{'vocab.surname' | translate}}</th>
  <th scope="col">Login</th>
  <th scope="col">{{'vocab.activated' | translate}}?</th>
  <th scope="col">{{'vocab.role' | translate}}</th>
  <th scope="col">{{'vocab.details' | translate}}</th>
  <th scope="col">{{'vocab.edit' | translate}}</th>
  <th scope="col">{{'vocab.activate' | translate}}</th>
  <th scope="col">{{'vocab.delete' | translate}}</th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.login}}</td>
    <td *ngIf="!user.accepted">{{'vocab.no' | translate}}</td>
    <td *ngIf="user.accepted">{{'vocab.yes' | translate}}</td>
    <td>{{user.role | uppercase}}</td>
    <td><a routerLink="/users/{{user.id}}"><i class="fas fa-info-circle"></i></a></td>
    <td><a routerLink="/users/edit/{{user.id}}"><i class="fas fa-edit"></i></a></td>
    <td *ngIf="!user.accepted"><a routerLink="/users/activate/{{user.id}}"><i class="fas fa-lock"></i></a></td>
    <td *ngIf="user.accepted"><i class="fas fa-lock-open"></i></td>
    <td><a routerLink="/users/delete/{{user.id}}"><i class="fas fa-trash-alt"></i></a></td>
  </tr>
  </tbody>
</table>
