<table class="table table-striped">
  <thead>
  <th scope="col">id</th>
  <th scope="col">name</th>
  <th scope="col">surname</th>
  <th scope="col">login</th>
  <th scope="col">accepted</th>
  <th scope="col">role</th>
  <th scope="col">edit</th>
  <th scope="col">activate</th>
  <th scope="col">delete</th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.login}}</td>
    <td>{{user.accepted}}</td>
    <td>{{user.role}}</td>
    <td>edit</td>
    <td>activate</td>
    <td>delete</td>
  </tr>
  </tbody>
</table>
