<table class="table table-striped">
  <thead>
  <th scope="col">id</th>
  <th scope="col">name</th>
  <th scope="col">surname</th>
  <th scope="col">login</th>
  <th scope="col">accepted</th>
  <th scope="col">role</th>
  <th scope="col">display</th>
  <th scope="col">edit</th>
  <th scope="col">activate</th>
  <th scope="col">delete</th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.login}}</td>
    <td>{{user.accepted}}</td>
    <td>{{user.role | lowercase}}</td>
    <td><a routerLink="/users/{{user.id}}">display</a></td>
    <td><a routerLink="/users/edit/{{user.id}}">edit</a></td>
    <td>activate</td>
    <td><a routerLink="/users/delete/{{user.id}}">delete</a></td>
  </tr>
  </tbody>
</table>
