<div class="user_details">
  <h2>{{user.login | uppercase}}</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label>name:
    <input [(ngModel)]="user.name" placeholder="name"/>
  </label>
  </div>
  <div>
    <label>surname:
      <input [(ngModel)]="user.surname" placeholder="surname"/>
    </label>
  </div>
  <div>
    <label>login:
      <input [(ngModel)]="user.login" placeholder="login"/>
    </label>
  </div>
  <div>
    <label>role:
      <input [(ngModel)]="user.role" placeholder="role"/>
    </label>
  </div>
  <button (click)="saveUserChanges()">Save changes</button>
</div>
<div id="button-container">
  <button class="back" (click)="goBack()">Back</button>
</div>
